<form action="/front/check" method="POST">
<div align="center"><br>
<input type="radio" name="group1" value="1">Technical Content<br>
<input type="radio" name="group1" value="2" checked>Mock Interviews<br>
<input type="radio" name="group1" value="3"> Logical and critical reasoning<br>
<input type="radio" name="group1" value="4">Verbal,Vocabulary skills<br>
<input type="radio" name="group1" value="5"> Mathematical Skills<br>
<input type="radio" name="group1" value="6" checked> Aptitude Skills<br>
<input type="radio" name="group1" value="7">Psychometric skills<br>
<input type="radio" name="group1" value="8">General Knowledge
<hr>
For the above selected category would you like to <br>
<input type="radio" name="group2" value="vc">View Content<br>
<input type="radio" name="group2" value="tt">Take Test<br>
<input type="submit">
</div>
</form>
