<h2>Welcome Admin</h2><br>
<div id= "admin-list">
 <li>Delete Membership</li>
 <li><%= link_to "Add or Delete Category", :controller => "categories" %></li>
 <li><%= link_to "Add or Delete Topic", :controller => "topics" %></li>
 <li><%= link_to "Add or Delete Test", :controller => "tktests" %></li>
</div>
